[data-testid="sidebarColumn"],
article [role="button"] span,
[data-testid="app-text-transition-container"] {
  display: none;
}

[data-testid="primaryColumn"],
:is([aria-label="ホームタイムライン"], [aria-label="Home timeline"])
  div:has([role="region"]) {
  max-width: 80rem;
}
